.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px; }

.container {
  width: 71% px;
  margin: 0 auto; }

.display-block {
  display: block; }

@media (max-width: 1599px) {
  .container {
    width: 96%;
    margin: 0 auto; } }
@media (max-width: 767px) {
  .container {
    width: 83%;
    margin: 0 auto; } }
.header {
  background-color: #222222;
  position: relative; }
  .header__container {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between; }
    @media (max-width: 1599px) {
      .header__container {
        padding: 0 16px; } }
    @media (max-width: 767px) {
      .header__container {
        padding: 0; } }
  .header__menu {
    display: none;
    position: absolute;
    background-color: #FFF;
    right: 0;
    bottom: -295px; }
    .header__menu_show {
      display: block; }
  .header__box {
    display: flex;
    position: relative; }
  .header__logo {
    margin: 0 41px 0 0; }
  .header__ico {
    margin: 0 0 0 33px; }
  .header__button {
    border: none;
    background-color: transparent; }
    .header__button:hover {
      background-color: #F1E4E6; }

.hero {
  display: flex;
  background-color: #F1E4E6;
  justify-content: center; }
  @media (max-width: 767px) {
    .hero {
      min-height: 363px; } }
  .hero-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 55px; }
  .hero__title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    margin-left: 16px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    font-style: normal; }
    @media (max-width: 1599px) {
      .hero__title {
        font-size: 44px;
        line-height: 53px;
        font-weight: 900;
        font-style: normal; } }
    @media (max-width: 767px) {
      .hero__title {
        font-size: 38px;
        line-height: 46px;
        font-weight: 900;
        font-style: normal; } }
  .hero__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    font-size: 37px;
    line-height: 44px;
    font-weight: 700;
    font-style: normal; }
    @media (max-width: 1599px) {
      .hero__subtitle {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal; } }
    @media (max-width: 767px) {
      .hero__subtitle {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-style: normal; } }
  .hero__pink {
    color: var(--dark-pink); }
  @media (max-width: 1599px) {
    .hero__img {
      height: 100%;
      width: 50%;
      object-fit: contain; } }
  @media (max-width: 767px) {
    .hero__img {
      display: none; } }

.sale__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
  align-items: center; }
.sale__link {
  text-decoration: none; }
.sale__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase; }
.sale__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--dark-pink);
  text-transform: uppercase;
  text-align: center; }
.sale__item {
  width: 360px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1599px) {
    .sale__item {
      width: 31.5%;
      min-height: 168px; } }
  @media (max-width: 767px) {
    .sale__item {
      width: 100%;
      min-height: 247px; } }
.sale__link:hover {
  border: 3px solid var(--dark-pink); }
.sale__item-fon-women {
  background-image: url(../img/sale-women.jpg); }
.sale__item-fon-men {
  background-image: url(../img/sale-men.jpg); }
.sale__item-fon-kids {
  background-image: url(../img/sale-kids.jpg); }
.sale__item-fon-accesories {
  background-image: url(../img/sale-accesopiers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 30px;
  height: 180px; }

.form__legend {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }
.form__size {
  width: 360px;
  height: 45px;
  margin-top: 20px; }
.form__wrapper {
  display: flex;
  flex-direction: column; }
.form__radio-input {
  width: 17px;
  height: 17px;
  margin-top: 31px;
  margin-bottom: 33px; }
.form__radio-label {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000; }
.form__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 16px;
  margin-bottom: 39px;
  width: 359px; }
.form__button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 66px 17px 29px;
  margin-bottom: 96px;
  text-transform: uppercase; }
.form__button:hover, .form__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none; }
.form__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 22px;
  text-transform: uppercase; }
.form__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 652px;
  margin-bottom: 5px; }
.form__item {
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 35px;
  margin-top: 16px; }
.form__item:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -35px;
  background-image: url(../img/mark.svg);
  background-size: 20px 16px; }

.product__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px; }
.product__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px; }
.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left; }
.product__item {
  margin-bottom: 30px; }
.product__cart {
  min-height: 420px;
  width: 360px;
  background: #F8F8F8; }
.product__cart-wrapper {
  position: relative; }
.product__img {
  width: 100%;
  min-height: 420px; }
.product__overlay {
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0; }
.product__button {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%); }
.product__overlay, .product__button {
  display: none; }
.product__button:hover {
  background-color: aqua; }
.product__cart:hover .product__button, .product__cart:hover .product__overlay, .product__cart:hover {
  display: block; }
.product__item-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 13px 18px; }
.product__item-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
  margin-left: 18px; }
.product__item-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 20px;
  margin-left: 18px; }
.product__link {
  text-decoration: none; }
.product__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 96px; }
.product__button-all-products {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  display: block; }
.product__button-all-products:hover, .product__button-all-products:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none; }
.product__button-all-products:active {
  opacity: 0.9; }

.footer {
  background-color: #222222; }
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center; }
  .footer__item {
    display: flex;
    justify-content: center;
    margin: 103px 15px;
    width: 360px; }
  .footer__link {
    text-align: center;
    text-decoration: none; }
  .footer__link:hover, .footer__link:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none; }
  .footer__link-title {
    margin-top: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB; }
  .footer__link-text {
    margin-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB; }
  .footer__content {
    background-image: url(../img/fon-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; }
  .footer__content-list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__content-img {
    margin-top: 97px;
    margin-bottom: 126px; }
  .footer__content-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase; }
  .footer__content-subtitle {
    display: block;
    font-size: 18px;
    line-height: 167.2%; }
  .footer__form-wrapper {
    display: flex; }
  .footer__form-size {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    padding-left: 22px; }
  .footer__form-button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 55px;
    border-radius: 0 20px 20px 0;
    background: #F16D7F; }
  .footer__form-button:hover, .footer__form-button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none; }
  .footer__bottom {
    background-color: var(--black); }
  .footer__bottom-list {
    display: flex;
    justify-content: space-between; }
  .footer__bottom-item {
    margin: 30px 0; }
  .footer__bottom-roster {
    display: flex; }
  .footer__bottom-icon {
    margin-right: 8px; }
  .footer__bottom-icon:hover {
    border: 5px solid #F16D7F; }

/*# sourceMappingURL=style.css.map */
