$colorBlack: #222222;
$colorPink: #F1E4E6;
$dark-pink: #F16D7F;
$pink: #F16D7F;
$white: #FFF;
$colorFooter: #222224;
$textColorGrey: #fbfbfb;
$black: #222222;



$desktop-width: 1599px;
$mobile-width: 767px;
$mobile-width: 375px;