@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

a {
  text-decoration: none;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.display-block {
  display: block;
}

@media (max-width: 1599px) {
  .container {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .container {
    width: 47%;
    margin: 0 auto;
  }
}

.carousel-item {
  background: #f7f7f7;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .header__container {
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
  .header__container {
    padding: 0;
  }
}

.header__menu {
  display: none;
  position: absolute;
  background-color: #FFF;
  right: 0;
  bottom: -295px;
}

.header__menu_show {
  display: block;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__ico {
  margin: 0 0 0 33px;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button:hover {
  background-color: #F16D7F;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F16D7F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .hero {
    min-height: 363px;
  }
}

.hero-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 55px;
}

@media (max-width: 1599px) {
  .hero {
    padding: 0 0 0 39px;
  }
}

.hero__title {
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 16px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
}

@media (max-width: 1599px) {
  .hero__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .hero__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.hero__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.hero__pink {
  color: var(--dark-pink);
}

@media (max-width: 1599px) {
  .hero__img {
    height: 100%;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 375px) {
  .hero__img {
    display: none;
  }
}

.sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__link {
  text-decoration: none;
}

.sale__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sale__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #F16D7F;
  text-transform: uppercase;
  text-align: center;
}

.sale__item {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1599px) {
  .sale__item {
    width: 31.5%;
    height: 168px;
  }
}

@media (max-width: 375px) {
  .sale__item {
    width: 100%;
    height: 247px;
    margin-bottom: 32px;
  }
}

.sale__link:hover {
  border: 3px solid #F16D7F;
}

.sale__item-fon-women {
  background-image: url(../img/sale-women.jpg);
}

.sale__item-fon-men {
  background-image: url(../img/sale-men.jpg);
}

.sale__item-fon-kids {
  background-image: url(../img/sale-kids.jpg);
}

.sale__item-fon-accesories {
  background-image: url(../img/sale-accesopiers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 30px;
  height: 180px;
}

@media (max-width: 1599px) {
  .sale__item-fon-accesories {
    width: 100%;
    height: 116px;
  }
}

@media (max-width: 375px) {
  .sale__item-fon-accesories {
    width: 100%;
    height: 111px;
    margin-top: 0;
  }
}

.market__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px;
}

.market__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.market__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.market__item {
  margin-bottom: 30px;
}

.market__cart {
  min-height: 420px;
  width: 360px;
  background: #F8F8F8;
}

.market__cart-wrapper {
  position: relative;
}

.market__img {
  width: 100%;
  min-height: 420px;
}

.market__overlay {
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.market__button {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.market__overlay, .market__button {
  display: none;
}

.market__button:hover {
  background-color: aqua;
}

.market__cart:hover .product__button,
.market__cart:hover .product__overlay, .market__cart:hover {
  display: block;
}

.market__item-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 13px 18px;
}

.market__item-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
  margin-left: 18px;
}

.market__item-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 20px;
  margin-left: 18px;
}

.market__link {
  text-decoration: none;
}

.market__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  margin-bottom: 96px;
}

.market__button-all-products {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  display: block;
}

.market__button-all-products:hover, .market__button-all-products:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.market__button-all-products:active {
  opacity: 0.9;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
}

@media (max-width: 1599px) {
  .basket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.basket__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .basket__data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 64px;
  }
}

@media (max-width: 1599px) {
  .basket__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.basket__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  width: 652px;
}

.basket__list__item .basket__item__box {
  padding: 22px 97px 62px 31px;
}

.basket__item__close {
  background-image: url(../img/close_card.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 18px;
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.basket__item__box .basket__item__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.basket__item__box .basket__item__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.basket__item__data {
  margin-top: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.basket__item__data .item__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

.basket__item__data .item__data .data__value {
  margin-left: 7px;
}

.basket__item__data .item__data .data__price-value {
  color: #F1E4E6;
}

.basket__item__data .item__data .data__quantity-value {
  display: inline-block;
  border: 1px solid #eaeaea;
  text-align: center;
  width: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.basket__item__data .item__data .data__quantity-value:focus {
  outline: none;
}

.basket__list__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .basket__list__btn {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.basket__list__btn .list__btn {
  padding: 17px 40px;
  border: 1px solid #a4a4a4;
  background-color: transparent;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.basket__list__btn .list__btn:hover {
  background-color: #e7e7e7;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

@media (max-width: 1599px) {
  .delivery {
    margin-right: 15px;
  }
}

.delivery .delivery__legend {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.delivery .delivery__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 13px 17px;
  margin-top: 20px;
  border: 1px solid #a4a4a4;
  background: #ffffff;
}

.delivery .delivery__input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.delivery .delivery__input:-ms-input-placeholder {
  text-transform: capitalize;
}

.delivery .delivery__input::-ms-input-placeholder {
  text-transform: capitalize;
}

.delivery .delivery__input::placeholder {
  text-transform: capitalize;
}

.delivery .delivery__input:focus {
  outline: none;
  background-color: #e7e7e7;
}

.delivery .delivery__input:hover {
  background-color: #e7e7e7;
}

.delivery .delivery__button {
  margin-top: 20px;
  padding: 10px 15px;
  width: 106px;
  border: 1px solid #a4a4a4;
  background: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.delivery .delivery__button:hover {
  background-color: #e7e7e7;
}

.delivery .delivery__button:active {
  background-color: #a1a1a1;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 0 96px 0;
}

@media (max-width: 1599px) {
  .feedback {
    padding: 40px 16px;
  }
}

@media (max-width: 375px) {
  .feedback {
    display: block;
  }
}

.feedback .feedback__form {
  margin-right: 128px;
}

@media (max-width: 1599px) {
  .feedback .feedback__form {
    margin-right: 22px;
  }
}

@media (max-width: 375px) {
  .feedback .feedback__form {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

.feedback .feedback__form__data, .feedback .feedback__form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.feedback .feedback__form__data legend::first-letter, .feedback .feedback__form__name legend::first-letter {
  text-transform: capitalize;
}

.feedback .feedback__form__data .form__name__item, .feedback .feedback__form__name .form__name__item {
  padding: 12px 15px;
  width: 100%;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #a4a4a4;
}

.feedback .feedback__form__data .form__name__item::-webkit-input-placeholder, .feedback .feedback__form__name .form__name__item::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.feedback .feedback__form__data .form__name__item:-ms-input-placeholder, .feedback .feedback__form__name .form__name__item:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.feedback .feedback__form__data .form__name__item::-ms-input-placeholder, .feedback .feedback__form__name .form__name__item::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.feedback .feedback__form__data .form__name__item::placeholder, .feedback .feedback__form__name .form__name__item::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.feedback .feedback__form__data .form__name__item:focus, .feedback .feedback__form__name .form__name__item:focus {
  outline: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

.feedback .feedback__form__data .form__name__item:hover, .feedback .feedback__form__name .form__name__item:hover {
  background-color: #f3f3f3;
}

.feedback .feedback__form .feedback__form__gender {
  margin: 30px 0;
  text-transform: capitalize;
}

.feedback .feedback__form .feedback__form__gender .form__gender__input {
  display: none;
}

.feedback .feedback__form .feedback__form__gender .form__gender__input:checked + .form__gender__label::before {
  background-color: #484848;
  padding: 3px;
  border: 4px solid #a4a4a4;
}

.feedback .feedback__form .feedback__form__gender .form__gender__label {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 13px;
  color: #000000;
  position: relative;
  margin: 0 0 0 37px;
}

.feedback .feedback__form .feedback__form__gender .form__gender__label::before {
  content: "";
  padding: 4px;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  left: -27px;
  border: 2px solid #a4a4a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.feedback .feedback__form .feedback__form__desc {
  display: inline-block;
  margin-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.feedback .feedback__form .feedback__form__desc::first-letter {
  text-transform: capitalize;
}

.feedback .feedback__form .feedback__form__button {
  margin-top: 39px;
  padding: 16px 65px 16px 29px;
  border-radius: 0px;
  border: none;
  background-color: #F1E4E6;
  color: #fbfbfb;
}

.feedback .feedback__form .feedback__form__button:hover {
  background-color: #ffa0ad;
}

.feedback .feedback__form .feedback__form__button .feedback__form__button-decorate {
  text-transform: uppercase;
  position: relative;
}

.feedback .feedback__form .feedback__form__button .feedback__form__button-decorate::after {
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  background-size: 16px;
  position: absolute;
  top: 3px;
  right: -36px;
}

.feedback .feedback__loyalty .feedback__loyalty__title {
  text-transform: uppercase;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1599px) {
  .feedback .feedback__loyalty .feedback__loyalty__title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}

.feedback .feedback__loyalty .feedback__loyalty__desc {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1599px) {
  .feedback .feedback__loyalty .feedback__loyalty__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}

.feedback .feedback__loyalty .feedback__loyalty__desc::first-letter {
  text-transform: capitalize;
}

@media (max-width: 1599px) {
  .feedback .feedback__loyalty .feedback__loyalty__list {
    margin-left: 32px;
  }
}

.feedback .feedback__loyalty .feedback__loyalty__list .list__item {
  position: relative;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1599px) {
  .feedback .feedback__loyalty .feedback__loyalty__list .list__item {
    font-size: 16px;
  }
}

.feedback .feedback__loyalty .feedback__loyalty__list .list__item::before {
  content: "";
  width: 20px;
  height: 16px;
  position: absolute;
  background-image: url(../img/chk_item.svg);
  top: 9px;
  left: -31px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.form__legend {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form__size {
  width: 360px;
  height: 45px;
  margin-top: 20px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__radio-input {
  width: 17px;
  height: 17px;
  margin-top: 31px;
  margin-bottom: 33px;
}

.form__radio-label {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.form__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 16px;
  margin-bottom: 39px;
  width: 359px;
}

.form__button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 66px 17px 29px;
  margin-bottom: 96px;
  text-transform: uppercase;
}

.form__button:hover, .form__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.form__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 22px;
  text-transform: uppercase;
}

.form__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 652px;
  margin-bottom: 5px;
}

.form__item {
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 35px;
  margin-top: 16px;
}

.form__item:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -35px;
  background-image: url(../img/mark.svg);
  background-size: 20px 16px;
}

.registration {
  margin-top: 57px;
  background: #f5f3f3;
  padding: 19px 43px 42px 43px;
}

@media (max-width: 1599px) {
  .registration {
    margin-top: 39px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.registration__total {
  text-align: end;
}

.registration__total .total_value {
  margin-left: 20px;
}

.registration__total .registration__total__sub {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.registration__total .registration__total__grand {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin-right: 4px;
  margin-bottom: 21px;
}

.registration__total .registration__total__grand .total__grand-value {
  color: #F1E4E6;
  font-weight: 700;
}

.registration__hr {
  border: 1px solid #e2e2e2;
}

.registration__button {
  padding: 15px 42px;
  text-transform: uppercase;
  border-radius: 0px;
  border: none;
  background-color: #F1E4E6;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 17px;
}

.registration__button:hover {
  background-color: #b35461;
}

.registration__button:active {
  background-color: #8a404a;
}

.top__box {
  padding: 60px 0;
  text-transform: uppercase;
  background: #f8f3f4;
}

.top__box .top__box__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F1E4E6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1599px) {
  .top__box .top__box__title {
    padding: 0px 16px;
  }
}

.product {
  padding: 60px 0px;
  margin-top: -52px;
  position: relative;
  background: white;
}

.product__hr__main {
  width: 65px;
  border: 1px solid #ef5b70;
}

.product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}

.product__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.product__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  width: 49%;
  margin-bottom: 32px;
}

.product__desc::first-letter {
  text-transform: capitalize;
}

.product__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.product__hr__sec {
  border: 1px solid #b4b4b4;
  width: 59%;
  margin: 64px 0px;
}

.product__button {
  background: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 375px) {
  .product__button {
    font-size: 10px;
  }
}

.product__secbutton {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border-radius: 0px;
  border: 1px solid #f26376;
  padding: 15px 57px 15px 73px;
  position: relative;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.product__secbutton::after {
  position: absolute;
  content: url(../img/add_to_cart.svg);
  width: 50px;
  top: 11px;
  left: 11px;
}

.product__secbutton:hover {
  background: none;
  color: #f26376;
  border: 1px solid #f26376;
}

.product_options {
  margin-bottom: 48px;
}

.top__box__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .top__box__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.crumbs a {
  color: #f38191;
}

.footer {
  margin-top: 109px;
}

.footer .footer__info {
  background-color: #222222;
  color: #fbfbfb;
}

.footer .footer__info .footer__info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 103px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1599px) {
  .footer .footer__info .footer__info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px 0px 64px 0px;
  }
}

.footer .footer__info .footer__info__box .info__box__item {
  text-align: center;
}

@media (max-width: 1599px) {
  .footer .footer__info .footer__info__box .info__box__item {
    margin-top: 48px;
  }
}

.footer .footer__info .footer__info__box .info__box__item .box__item__img {
  margin-bottom: 26px;
}

.footer .footer__info .footer__info__box .info__box__item .box__item__title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer .footer__info .footer__info__box .info__box__item .box__item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  width: 364px;
}

@media (max-width: 1599px) {
  .footer .footer__info .footer__info__box .info__box__item .box__item__text {
    display: inline-block;
  }
}

.footer .footer__feedback {
  background-image: url(../img/footer_bg.jpg);
  background-repeat: round;
  background-size: cover;
}

.footer .footer__feedback .footer__feedback__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 86px 0 126px 0;
}

@media (max-width: 1599px) {
  .footer .footer__feedback .footer__feedback__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item {
  text-align: center;
}

@media (max-width: 1599px) {
  .footer .footer__feedback .footer__feedback__box .feedback__box__item {
    margin-bottom: 48px;
  }
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__img {
  margin-bottom: 30px;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__text {
  width: 359px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__title,
.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__desc {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__desc {
  margin-bottom: 30px;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__title {
  font-weight: bold;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__email {
  text-transform: capitalize;
  background: #e1e1e1;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 15px 0 15px 22px;
  margin-right: -3px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__email:hover {
  background-color: #b9b9b9;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__email:focus {
  outline: none;
  background-color: #b9b9b9;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__button {
  text-transform: capitalize;
  border: none;
  background-color: #F1E4E6;
  padding: 15px 20px;
  border-radius: 0 20px 20px 0;
  color: #ffffff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .footer__feedback .footer__feedback__box .feedback__box__item .feedback__box__button:hover {
  background-color: #ff3b56;
}

.footer .footer__social {
  background-color: #222224;
  padding: 20px 0;
}

@media (max-width: 1599px) {
  .footer .footer__social {
    padding: 20px 32px;
  }
}

.footer .footer__social .footer__social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .footer .footer__social .footer__social__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer__social .footer__social__item .social__item__copy {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

@media (max-width: 375px) {
  .footer .footer__social .footer__social__item .social__item__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .footer .footer__social .footer__social__item .social__box {
    margin-top: 40px;
  }
}

.footer .footer__social .footer__social__item .social__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__social .footer__social__item .social__box ul li {
  background: #ffffff;
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7px;
}
/*# sourceMappingURL=style.css.map */